<div>
    <figure class="w-full h-[55vh] relative">
        <img src=<%= image_path("rails_project_header.jpg") %> class="w-full h-full object-cover" />
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-1/2">
            <h2 class="font-bold text-white text-4xl">About</h2>
            <p class="text-slate-300">This is about page</p>
        </div> 
    </figure> 
</div>