<div>
    <figure class="w-full h-[55vh] relative">
        <img src=<%= image_path("rails_project_header.jpg") %> class="w-full h-full object-cover" />
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-1/2">
            <h2 class="font-bold text-white text-4xl uppercase">Welcome to my rails project!</h2>
            <p class="text-slate-300">This is home page</p>
        </div> 
    </figure> 
    <main class="px-10 mt-10">
        <div class="grid grid-cols-3 gap-6 items-center">
            <div>
                <h3 class="text-black font-semibold underline text-xl">Heading 1</h3>
                <p class="text-slate-600 text-sm italic">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Enim laborum iure labore nemo rerum odio blanditiis neque, 
                    fugiat dolorem obcaecati saepe impedit aut facere consectetur ex quia. 
                    Enim illum, eligendi, quod laborum odio veniam explicabo, quibusdam necessitatibus error cupiditate beatae?
                </p>
            </div>
            <div>
                <h3 class="text-black font-semibold underline text-xl">Heading 2</h3>
                <p class="text-slate-600 text-sm italic">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Enim laborum iure labore nemo rerum odio blanditiis neque, 
                    fugiat dolorem obcaecati saepe impedit aut facere consectetur ex quia. 
                    Enim illum, eligendi, quod laborum odio veniam explicabo, quibusdam necessitatibus error cupiditate beatae?
                </p>
            </div>
            <div>
                <h3 class="text-black font-semibold underline text-xl">Heading 3</h3>
                <p class="text-slate-600 text-sm italic">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Enim laborum iure labore nemo rerum odio blanditiis neque, 
                    fugiat dolorem obcaecati saepe impedit aut facere consectetur ex quia. 
                    Enim illum, eligendi, quod laborum odio veniam explicabo, quibusdam necessitatibus error cupiditate beatae?
                </p>
            </div>
        </div>
    </main>
</div>

